body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    width: 100vw;
    background: url(../images/bustos-756620.jpg);
    background-position: center;
    color:white;
    margin: 0;
    padding: 0;
}

h1 {
    padding-left: 2%;
    font-size: 5.7em;
    font-weight:10000;
    line-height: .15em;
}

a {
    text-decoration: none;
    color: white;
}

.accent {
    background-color: rgba(101,89,89,.3); 
}

.top-title {
    font-family: 'Open Sans', sans-serif;
    top:0;
    position:relative;
    width:10%;
    height: 80px;
}

.button-position {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:100vh;
}

.button {
    padding: .5em;    
    font-size: 1.5em;
    line-height: 2em;
    border-radius: 2em;
    display:table;
    border: 2px solid #FFFFFF;
}
.button:hover {
    background-color: rgba(255,255,255,.8);
}

.button:hover a {
    color: black;
}

span {
    vertical-align: center;
    line-height: normal;
    display:table-cell;
    text-align: center;
}

div.relative {
    position: relative;
}

div.absolute {
    position: absolute;
}
.bottom-overlay {
    padding: 1em;
    font-family: 'Open Sans', sans-serif;
    bottom: 0;
    float: bottom;
    position: fixed;
    width:100%;
    height:20vh;
}

#bottom-text {
    color: white;
    padding: 1em;
}